:root {
	--text: #FFFFFF7F;
	--innertext: #FFFFFFCF;
    --blue: #092E6D;
    --link: #009FFF;
    --linkhover: #FB9E3B;
	--navbar: #092E6D73;
    --heading: #FFFFFF;
	--bgwhite: rgb(115 197 255 / 7%);
    --bgblack: rgba(17,17,17,0.5);
	--radius: 15px;
	--blur: blur(6px);
	--opacity: 0.7;
	--space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
}

#bgCanvas {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    float: top;
    background: linear-gradient(120deg, var(--link) 0%, var(--blue) 100%);
}

body, html {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
	color: var(--text);
}

table {
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr, td {
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

a, a:visited, a:active {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--linkhover);
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: var(--heading);
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
	font-size: 42pt;
    font-weight: 300;
}

h2 {
	font-size: 32pt;
}

h3 {
	font-size: 20pt;
}

.text {
	color: var(--innertext);
}

/* Header */

.header {
    position: relative;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
	width: 100%;
}

.header-inner {
	margin-top: 150px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    opacity: 0.5;
}

/* Page Content */

.content {
    width: 100%;
    max-width: 100%;
    color: var(--text);
    display: inline-block;
    background-color: var(--bgblack);
}

.bloglinks {
	padding-left: 20px;
}

.bloglinks a {
	padding-top: 5px;
}

.blogtype {
    color: var(--heading);
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.blogdivider {
	  background-image: linear-gradient(to right, var(--heading), transparent);
	  height: 4px;
	  margin-bottom: 10px;
}

.blogdate {
	color: var(--text);
	vertical-align: bottom;
	width: 25%;
	text-align: center;
}

footer {
	backdrop-filter: var(--blur);
    background-color: var(--bgblack);
    padding-left: 50px;
    padding-top: 25px;
}

/* Top Navigation Bar */

.amicitia-logo {
    position: relative;
    left: -8px;
    display: inline-block;
    float: left;
    width: 32px;
    height: 1px;
}

.amicitia-svg {
    position: absolute;
    width: 45px;
    height: 80px;
    border-bottom: 2px solid transparent;
    background: url(https://shrinefox.com/images/logo.svg) center center/36px no-repeat;
    transition: all .1s ease-in-out 0s;
}

.navbar {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 20;
    transition: all .5s ease-in-out 0.1s;
    overflow: hidden;
}

.navbar-item {
    line-height: 80px;
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 12px;
    height: 100px;
    padding-left: 12px;
    font-size: 20pt;
    height: 80px;
    color: var(--heading);
    transition: all .1s ease-in-out 0s;
}

.navbar-item:hover {
    border-bottom: 4px solid var(--heading);
}

.navbar-container {
    z-index: 999;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--navbar);
    backdrop-filter: var(--blur);
    user-select: none;
}

/* Sidebar Menu */

#sidebartoggle {
	width: 100px;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
	max-width: 100%;
}

main > * {
    margin-bottom: 0;
    margin-left: var(--space-md);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sidebar {
    --offset: var(--space-md);
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: fixed;
    min-width: 25%;
    top: var(--offset);
    transform: translateX(-9999px);
    z-index: 19;
	backdrop-filter: var(--blur);
}

.component {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.component .contents {
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.component .contents::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.sidebar .component {
    max-height: calc(100vh - var(--offset) * 2);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
}

main > * {
	margin-bottom: 0;
	margin-left: var(--space-md);
}

.component {
    position: relative;
    border: 0px;
}

.component .sidebarheader,
.component .footer {
	padding: var(--space-sm);
	text-align: center;
}

.component .sidebarheader {
	border-bottom: inherit;
}

.component .footer {
	display: flex;
	justify-content: space-between;
	border-top: inherit;
}

.component .contents {
	padding: 0px;
	max-height: 500px;
	overflow-y: auto;
	color: var(--heading);
}

.empty-text {
    padding: var(--space);
    text-align: center;
    color: var(--text);
}

.item {
    position: relative;
    appearance: none;
    display: flex;
    align-items: center;
    padding: var(--space);
    outline: none;
    width: 100%;
    background-color: var(--navbar);
    border: 0px;
    cursor: pointer;
    color: var(--heading);
    font-size: 12pt;
}

.item:active {
	transform: translateY(1px);
}

.item > * {
	pointer-events: none;
}

.sidebarheader {
	background-color: var(--blue);
	opacity: 0.8;
}

.info {
    width: 100%;
    margin-left: 20px;
}

.title,
.subtitle {
    width: 100%;
    height: 0.5rem;
    border-radius: var(--radius);
}

.title {
    margin-bottom: 23px;
    font-size: 20pt;
}

.subtitle {
    font-size: 12pt;
}

.thumbnail {
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--space-sm);
}

.grid .item {
	flex-direction: column;
	text-align: center;
}

.grid .info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid .thumbnail {
	--size: 100px;
	margin-bottom: var(--space);
}

.list .item {
	padding-top: 5px;
    padding-bottom: 5px;
}

.list .thumbnail {
    --size: 50px;
    font-size: 30pt;
}

.item:hover {
    background-color: #FFFFFF10;
    color: var(--heading);
}

.button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 25px;
    left: 20px;
    max-width: var(--space-md);
}

.spinner {
    height: 4px;
	width: 100%;
    background-color: var(--heading);
}

.horizontal {
    position: relative;
    float: left;
    margin-top: 10px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 10px;
}

input[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
    transition: all 0.25s;
}

input[type=checkbox] {
    transition: all 0.25s;
    box-sizing: border-box;
}

.sidebar ul {
	padding-left: 0px;
}

/* Amicitia.Github.io */

.copied {
    z-index: 30;
    position: fixed;
    top: 0;
    background: var(--bgblack);
    display: none;
    text-align: center;
}

/* Dropdown */
.headerselect select {
	appearance:none;
    background-color: transparent;
    color: var(--heading);
    border: 0;
	outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: 300;
}

.subheaderselect select {
	appearance:none;
    background-color: transparent;
    color: var(--heading);
    border: 0;
	outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
}

.headerselect select:hover, .subheaderselect select:hover {
	text-decoration: underline;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}


/* Button */

.button-css {
	background-color: var(--bgblack);
	color: var(--textwhite);
	border-color: var(--textwhite);
	border-radius: 7px;
	height: 26px;
}

.textbox-css {
	background: var(--bgblack);
	border: none;
	color: var(--textwhite);
	border-radius: 20px;
	height: 23px;
}

/* Pagination */
.pagination {
    padding: 3rem 3rem 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
}

a.page-numbers:hover {
    text-decoration: none;
    background: #6f8590;
    color: #fff;
}

.current, a.page-numbers, .page .entry-body, .single .entry-body {
    background: transparent !important;
}

a.page-numbers {
    background: #e2e6e9;
    padding: .75rem 1rem;
    border-radius: 2px;
    color: inherit;
    transition: all .2s;
    margin: 0 2px;
}

.current {
    background: none;
    color: inherit;
    background: #fff;
    line-height: 1;
    padding: .75rem 1rem;
    border-radius: 2px;
    border: 1px solid #e2e6e9;
}

/* Posts */

.card img:hover {
    transform: scale(1.1);
}

.card img {
    display: block;
	object-fit: contain;
    width: 100%;
    transition: all .3s ease;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.entry-content {
    word-wrap: break-word;
    color: #ccc;
}

.card__body {
    padding: 20px 20px 0px 20px;
}

.card {
    background: rgb(115 197 255 / 7%);
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

@media (min-width: 768px)
.tags-links {
    flex-basis: 50%;
}

.tags-links {
    flex-basis: 100%;
}

.tag-cloud-link, .tags-links a {
    display: inline-block;
    border: 1px solid #009fff;
    color: #009fff;
    padding: .2em 1em;
    border-radius: 99px;
    transition: all .2s;
    margin: 0 .25rem .5rem 0;
    text-transform: lowercase;
}

.tag-cloud-link:hover, .tags-links a:hover {
    background: #009fff;
    color: #fff !important;
    text-decoration: none;
}

.grid {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
   grid-auto-rows: 200px;
}

.photothumb{
  width: 100%;
}

.title {
  padding: 20px;
 }

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.project .title{
  background-color: #607D8B;
}

.blog .title{
  background-color: #ff9800;
}

.photo .title{
  background-color: #f44336;
}

.desc{
  padding: 10px 10px 5px 10px;
}

.desc img{
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc p{
  margin-bottom: 10px;
}

/* Wave Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height:60px;
		min-height:60px;
	}
}