:root {
	--font: 'Lato', sans-serif;
	--size: 16pt;
	--text: 255, 255, 255;  /* White, non-content text */
	--textinner: 20,20,20; /* Black-ish content text */
    --bg: 9,54,109; /* Dark blue, bg/waves */
	--post: 230, 230, 230; /* Almost White */
    --link: 0,159,255; /* Bright cyan/blue */
    --hover: 251,158,59; /* Bright orange */	

	--radius: 15px; /* Rounded corners */
	--blur: 6px; /* Glassiness */
	--alpha: 0.7; 
	--opaque: 1; 
	
	--gradient1: rgba(var(--link), var(--opaque));
	--gradient2: rgba(var(--bg), var(--opaque));
	--highlight: rgba(var(--link), calc(var(--alpha) / 9));
	--highlight2: rgba(var(--hover), calc(var(--alpha) / 9));
	--waves: rgba(var(--bg), calc(var(--alpha) /1.4));
	
	/* Sidebar location calculations */
	--space: 2rem; 
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
}

#bgCanvas {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    float: top;
    background: linear-gradient(120deg, var(--gradient1) 0%, var(--gradient2) 100%) fixed;
	display: none; /* Toggled in bubbles.js (performance) */
}

body, html {
    font-family: var(--font);
	font-size: var(--size);
	color: rgba(var(--text), var(--alpha));
	height: 100%;
    margin: 0;
	width: 100%;
	max-width: 100%;
	margin: 0;
}

body { /* Toggled in bubbles.js (performance) */
	background: linear-gradient(120deg, var(--gradient1) 0%, var(--gradient2) 100%) fixed;
}

::-moz-selection {
	background: rgba(var(--hover), var(--alpha));
}
::selection {
	background: rgba(var(--hover), var(--alpha));
}

ul {
	display: table-cell;
}

.flex {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.flex .row {
	border: 0;
}

.flex .row.top {
	flex: 0 1 auto;
	/* The above is shorthand for:
	flex-grow: 0,
	flex-shrink: 1,
	flex-basis: auto
	*/
}

.flex .row.middle {
	flex: 1 1 auto;
	display: block;
	background: var(--waves);
}

.flex .row.bottom {
	flex: 0;
	background: var(--waves);
	height: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr, td {
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

a, a:visited, a:active {
    color: rgba(var(--link), var(--opaque));
    text-decoration: none;
}

a:hover {
    color: rgba(var(--hover), var(--opaque));
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color:  rgba(var(--text), var(--opaque));
    font-family: var(--font);
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
	font-size: 42pt;
    font-weight: 300;
}

h2 {
	font-size: 32pt;
}

h3 {
	font-size: 20pt;
}

.highlight {
	background: var(--highlight);
}

.highlight2 {
	background: var(--highlight2);
}

/* Header */

.header {
    position: relative;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
	width: 100%;
}

.header-inner {
	margin-top: 150px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    opacity: 0.5;
}

/* Page Content */
.wrap {
	margin: 0 2% 0 2%;
    display: flex;
}

.wrap h1 {
	color: rgba(var(--textinner), var(--opaque));
    text-shadow: 0px 1px 1px rgba(var(--link), var(--alpha));
}

.wrap h2, .wrap h3, .wrap h4, .wrap h5 {
    color: rgba(var(--textinner), var(--opaque));
    text-shadow: 0px 1px 1px rgba(var(--hover), var(--alpha));
}

.wrap p {
	font-size: var(--size);
	margin: 5%;
}

.wrap p a {
	font-weight: bold;
}

#wrap {
    text-align: justify;
    background: rgba(var(--post), var(--opaque));
    border-radius: var(--radius) var(--radius) 0 0;
    color: rgba(var(--textinner), var(--opaque));
    box-shadow: 0px 6px 1px 0px rgba(var(--bg), var(--opaque));
    padding: 5% 2% 10% 2%;
}

.content {
    width: 100%;
    max-width: 100%;
    color:  rgba(var(--text), var(--alpha));;
    display: inline-block;
}

.bloglinks a {
	padding-top: 5px;
}

.blogtype {
    margin-bottom: 10px;
}

.blogdivider {
	  background-image: linear-gradient(to right, rgba(var(--text), var(--opaque)), transparent);
	  height: 4px;
	  margin-bottom: 10px;
}

.blogdate {
	color:  rgba(var(--text), var(--alpha));;
	vertical-align: bottom;
	width: 35%;
	text-align: center;
}

footer {
	backdrop-filter: blur(var(--blur));
    background: rgba(var(--bg), var(--alpha));
    padding-left: 50px;
    padding-top: 25px;
}

/* Top Navigation Bar */

.amicitia-logo {
    position: relative;
    left: -8px;
    display: inline-block;
    float: left;
    width: 32px;
    height: 1px;
}

.amicitia-svg {
    position: absolute;
    width: 45px;
    height: 80px;
    border-bottom: 2px solid transparent;
    background: url(https://shrinefox.com/images/logo.svg) center center/36px no-repeat;
    transition: all .1s ease-in-out 0s;
}

.navbar {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 20;
    transition: all .5s ease-in-out 0.1s;
    overflow: hidden;
}

.navbar-item {
    line-height: 80px;
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 12px;
    height: 100px;
    padding-left: 18px;
    height: 80px;
    color:  rgba(var(--text), var(--opaque));;
    transition: all .1s ease-in-out 0s;
}

.navbar-item:hover {
    border-bottom: 8px solid rgba(var(--text), var(--opaque));
}

.navbar-container {
    z-index: 999;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(var(--bg), var(--alpha));
    backdrop-filter: blur(var(--blur));
    user-select: none;
}

/* Sidebar Menu */

#sidebartoggle {
	width: 100px;
	right: 0;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
	max-width: 100%;
}

main > * {
    margin-bottom: 0;
    margin-left: var(--space-md);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.sidebar {
    --offset: var(--space-md);
    flex-grow: 1;
    flex-basis: 300px;
	right: 0;
    align-self: start;
    position: fixed;
    min-width: 25%;
    top: var(--offset);
    transform: translateX(999px);
    z-index: 19;
}

.component {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.component .contents {
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
	border-radius: 0 0 0 var(--radius);
	background: rgba(var(--bg), var(--alpha));
	border-radius: 0 0 0 var(--radius);
	backdrop-filter: blur(6px);
}
.component .contents::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.sidebar .component {
    max-height: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
}

main > * {
	margin-bottom: 0;
	margin-left: var(--space-md);
}

.component {
    position: relative;
    border: 0px;
}

.component .sidebarheader,
.component .footer {
	padding: 5px;
	text-align: center;
}

.component .sidebarheader {
	border-bottom: inherit;
}

.component .footer {
	display: flex;
	justify-content: space-between;
	border-top: inherit;
}

.component .contents {
	padding: 0px;
	max-height: 45%;
	overflow-y: auto;
	color:  rgba(var(--text), var(--alpha));;
}

.empty-text {
    padding: var(--space);
    text-align: center;
    color:  rgba(var(--text), var(--alpha));;
}

.item {
    position: relative;
    appearance: none;
    display: flex;
    align-items: center;
    padding: var(--space);
    outline: none;
    width: 100%;
    background: rgba(var(--bg), var(--alpha));;
    border: 0px;
    cursor: pointer;
    color:  rgba(var(--text), var(--alpha));;
}

.item:active {
	transform: translateY(1px);
}

.item > * {
	pointer-events: none;
}

.sidebarheader {
	background: rgba(var(--bg), var(--opaque));
}

.info {
    width: 100%;
    margin-left: 20px;
}

.title,
.subtitle {
    width: 100%;
    height: 0.5rem;
    border-radius: var(--radius);
}

.title {
    margin-bottom: 23px;
    font-size: 20pt;
	padding: 8px;
}

.subtitle {
    font-size: 12pt;
}

.thumbnail {
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--space-sm);
}

.grid .item {
	flex-direction: column;
	text-align: center;
}

.grid .info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid .thumbnail {
	--size: 100px;
	margin-bottom: var(--space);
}

.list .item {
	padding-top: 10px;
    padding-bottom: 10px;
	display: block;
}

.list .thumbnail {
    --size: 50px;
    font-size: 30pt;
}

.item:hover {
    background: rgba(var(--hover), var(--alpha));
    color:  rgba(var(--text), var(--alpha));;
}

.button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
	right: 25px;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 25px;
    max-width: var(--space-md);
}

.spinner {
    height: 4px;
	width: 100%;
    background:  rgba(var(--text), var(--opaque));;
}

.horizontal {
    position: relative;
    float: left;
    margin-top: 10px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 10px;
}

input[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
    transition: all 0.25s;
}

input[type=checkbox] {
    transition: all 0.25s;
    box-sizing: border-box;
}

.sidebar ul {
	padding-left: 0;
	display: block;
	margin: 0;
}

/* Amicitia.Github.io */

.copied {
    z-index: 30;
    position: fixed;
    top: 0;
    background: rgba(var(--bg), var(--opaque));
    display: none;
    text-align: center;
}

/* Dropdown */
select {
	color: rgba(var(--link), var(--opaque));;
	background: transparent;
	text-align-last:center;
}

select option {
	color: rgba(var(--link), var(--opaque));
    background: rgba(var(--bg), var(--opaque));
}

.headerselect select {
	appearance:none;
    background: transparent;
    color:  rgba(var(--text), var(--opaque));;
    border: 0;
	outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: 300;
}

.subheaderselect select {
	appearance:none;
    background: transparent;
    color:  rgba(var(--text), var(--opaque));;
    border: 0;
	outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
}

.headerselect select:hover, .subheaderselect select:hover {
	text-decoration: underline;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}


/* Button */

.button-css {
	background: var(--bg);
	color: var(--textwhite);
	border-color: var(--textwhite);
	border-radius: 7px;
	height: 26px;
}

.textbox-css {
	background: var(--bg);
	border: none;
	color: var(--textwhite);
	border-radius: 20px;
	height: 23px;
}

/* Pagination */
.pagination {
    padding: 3rem 3rem 0;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
}

a.page-numbers:hover {
    text-decoration: none;
    background: #6f8590;
    color: #fff;
}

.current, a.page-numbers, .page .entry-body, .single .entry-body {
    background: transparent !important;
}

a.page-numbers {
    background: #e2e6e9;
    padding: .75rem 1rem;
    border-radius: 2px;
    color: inherit;
    transition: all .2s;
    margin: 0 2px;
}

.current {
    background: none;
    color: inherit;
    background: #fff;
    line-height: 1;
    padding: .75rem 1rem;
    border-radius: 2px;
    border: 1px solid #e2e6e9;
}

/* Posts */

.card img:hover {
    transform: scale(1.1);
}

.card img {
    display: block;
	object-fit: contain;
    width: 100%;
    transition: all .3s ease;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.entry-content {
    word-wrap: break-word;
    color: #ccc;
}

.card__body {
    padding: 20px 20px 0px 20px;
}

.card {
    background: rgb(115 197 255 / 7%);
    backdrop-filter: blur(var(--blur));
    border-radius: 20px;
}

@media (min-width: 768px)
.tags-links {
    flex-basis: 50%;
}

.tags-links {
    flex-basis: 100%;
}

.tag-cloud-link, .tags-links a {
    display: inline-block;
    border: 1px solid #009fff;
    color: #009fff;
    padding: .2em 1em;
    border-radius: 99px;
    transition: all .2s;
    margin: 0 .25rem .5rem 0;
    text-transform: lowercase;
}

.tag-cloud-link:hover, .tags-links a:hover {
    background: #009fff;
    color: #fff !important;
    text-decoration: none;
}

.grid {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
   grid-auto-rows: 200px;
}

.photothumb{
  width: 100%;
}

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.project .title{
  background: #607D8B;
}

.blog .title{
  background: #ff9800;
}

.photo .title{
  background: #f44336;
}

.desc{
  padding: 10px 10px 5px 10px;
}

.desc img{
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc p{
  margin-bottom: 10px;
}

/* Wave Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
	fill: var(--waves);
}

.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

/* kill parallax animations (performance) */
.noanimation {
	animation: none !important; 
} 

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
}

/* Color Picker */

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2c3e50;
    margin-top: 40px;
}

pre {
    min-width: 275px;
    padding: 15px 30px;
    background: #f8f8f8;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    margin: 0;
}

/*Shrinking for mobile*/
@media (min-width: 1024px) {
	.wrap {
		    margin-right: 15%;
	}
}