.navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
	
.navigation ul li {
	display:inline-block;
}

.navigation a {
	display:block;
	padding:0 10px;	
	line-height: 60px;
	text-decoration:none;
}

.navigation a:hover { 
	background-color: #e3f7ff; 
}

/* Hide Dropdowns by Default */
.navigation ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main .navigation */
}
	
/* Display Dropdowns on Hover */
.navigation ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
.navigation ul ul li {
	width: 180%;
    float: none;
    display: list-item;
    right: 65px;
    position: relative;
	background-color: #FFF;
}

/* Second, Third and more Tiers	*/
.navigation ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { 
	content:  ' ▼';
    font-size: 12px;
    top: -1px;
    position: relative;
}

li > a:only-child:after { content: ''; }

@media (prefers-color-scheme: dark) {
	.navigation ul ul li {
		background-color: #111;
	}
	
	.navigation a:hover { 
		background-color: #000; 
	}
}