/* Colors */
:root {
	--darkblue: #0B2653;
	--medblue: #092E6D;
	--lightblue: #063DA0;
	--linkblue: #009FFF;
	--linkorange: #FB9E3B;
	--textwhite: #FFFFFF;
	--textgrey: #999999;
	--bgblack: #111111;
}

/* Fonts and Spacing */
body, html {
	margin: 0;
	font-family: 'Lato', sans-serif;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	height:auto !important;
}

/* Tables */
table { 
    table-layout:fixed;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td {
	width:100%;
	margin: 0;
	padding: 0;
}

/* Headers */

h1 {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	letter-spacing: 2px;
	font-size:40pt;
	color: var(--textwhite);
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight:200;
	letter-spacing: 2px;
	font-size:30pt;
	color: var(--textwhite);
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	letter-spacing: 2px;
	font-size:20pt;
	color: var(--textwhite);
}

/* Links */
a, a:visited, a:active {
	color: var(--linkblue);
	text-decoration: none;
}

a:hover {
	color: var(--linkorange);;
	text-decoration: none;
}

/* ShowHide.js */
.toggle-inner {
	display: none;
}

/* Page Elements */
.logo img {
	max-width:250px;
	max-height:250px;
	z-index: 1;
	fill:white;
	padding-right:15px;
	display:inline-block;
	vertical-align: middle;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	body {
		font-size: 10pt;
	}
	h1 {
		font-size: 22pt;
	}
	h2 {
		font-size: 18pt;
	}
	h3 {
		font-size: 15pt;
	}
}